
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #303030;
    height: 100%;
}


header, footer {
	background: #01467d;
	padding: 8px;
	color: #ffffff;
}


/* Navigation */
nav {
	padding: 8px;
	background: #34363a;
}


/* button */
.button {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	background: #01457d;
	padding: 10px 20px 10px 20px;
	border: solid #2e6da4 1px;
	text-decoration: none;
}

.button:hover {
	text-decoration: underline;
	background-color: #286090;
}



/* Main */

h1 {
	margin-top: 20px;
}

h2 {
	font-size: 14px;
}
/* slideshow container */
#container{
	width:700px;
	height:500px;
	position:relative;
}

#container .prevButton{
	height:50px;
	width:30px;
	position:absolute;
	background:url('../images/left.jpg') no-repeat;
	cursor:pointer;
	background-position:left top;
	left:0
}



#container .nextButton{
	height:50px;
	width:30px;
	position:absolute;
	background:url('../images/right.jpg') no-repeat;
	cursor:pointer;
	background-position:right top;
	right:0
}

#container ul{
	width:700px;
	height:500px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}